@font-face {
    font-family: 'RobotoFlex';
    src: url(./fonts/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf);
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Parisienne';
    src: url(./fonts/Parisienne-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #222121;
    color: #dddada;
    font-family: 'RobotoFlex', sans-serif;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    background-color: #383737;
    padding: 0 24px;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 5px solid #222121;
    z-index: 2;
}

main {
    width: 100%;
    position: relative;
}

a {
    color: #dddada;
}

#logo {
    height: 50px;
}

#logo h1 {
    font-size: 27px;
    font-weight: 700;
    margin-top: 12px;
    margin: 0;
    text-shadow:
        3px 3px 0 #383737,
       -3px 3px 0 #383737,
        3px -3px 0 #383737,
       -3px -3px 0 #383737,
        0px 3px 0 #383737,
        3px 0px 0 #383737,
        0px -3px 0 #383737,
       -3px 0px 0 #383737;
    z-index: 1;
}

#logo h2 {
    z-index: 1;
    font-family: 'Parisienne';
    font-size: 25.9px;
    margin-top: -18.56px;
    margin-left: 51.75px;
    letter-spacing: -0.56px;
    text-shadow:
        0.25px 0.25px 2px #383737;
}

#logoImg {
    position: absolute;
    width: 154.69px;
    margin-top: -146.25px;
    margin-left: -25.31px;
    pointer-events: none;
    z-index: 0;
}

#logo h1,
#logo h2 {
    position: relative;
    z-index: 1;
}

#navigationBar {
    display: flex;
    margin-left: 50px;
    gap: 25px;
}

#navigationBar > a {
    display: flex;
    align-items: center;
    font-size: 24px;
    letter-spacing: -1px;
    cursor: pointer;
    flex-shrink: 0;
    justify-content: center;
    height: 60px;
    color: #dddada;
    text-decoration: none;
    white-space: nowrap;
}

footer {
    padding-block: 10px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    background-color: #383737;
}

#footerLinks {
    font-weight: 200;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}

.navCalendar {
    font-weight: 700;   
}

.navMain {
    font-weight: 400;
}

.navSecondary {
    font-weight: 100;
}

#calendarDays td,
#calendarWeeks td,
#calendarMonths td,
#calendarYear td {
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    vertical-align: middle;
}


#calendar {
    font-weight: 600;
}

#calendarDays td, #calendarWeeks td {
    height: 175px;
    background-color: #383737;
    color: #dddada;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 200;
    width: calc(100% / 21);
}

#calendarWeeks td {
    height: 25px;
    font-size: 15px;
    font-weight: 500;
}

#calendarMonths td, #calendarYear td {
    height: 25px;
    background-color: #494646;
    color: #dddada;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 900;
    justify-content: center;
    align-items: center;
}

#calendarSection {
    display: flex;
    margin-top: 120px;
    margin-inline: 10px;
    gap: 10px;
}

#calendarContent {
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;
}

#calendarBack,
#calendarForward {
    width: 40px;
    height: 180px;
    background-color: #dddada;
    color: #383737;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    cursor: pointer;
    margin-top: 50px;
    margin: 20;
    border-radius: 8px;
    user-select: none;
}

section {
  scroll-margin-top: 80px;
}

#img1 {
    position: absolute;
    top: -350px;
    right: -400px;
    z-index: -1;
}

#img2 {
    position: absolute;
    top: 750px;
    left: -500px;
    z-index: -1;
}

#img3 {
    position: absolute;
    top: 1750px;
    right: -600px;
    z-index: -1;
}

.offerSection {
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    font-size: 28px;
    font-weight: 800;
    height: fit-content;
    display: flex;
    margin-top: 250px;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    box-shadow: 
    0 0 0 2px rgba(56, 55, 55, 1),
    0 0 5px rgba(56, 55, 55, 0.5),
    0 0 10px rgba(56, 55, 55, 0.3),
    0 0 25px rgba(56, 55, 55, 0.1);
}

ul {
    list-style-type: circle;
}

.offer {
    background-color: #383737;
    color: #dddada;
    font-weight: 200;
    width: 750px;
    border-radius: 10px;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    box-shadow: 
    0 0 0 2px rgba(56, 55, 55, 1),
    0 0 5px rgba(56, 55, 55, 0.5),
    0 0 10px rgba(56, 55, 55, 0.3),
    0 0 25px rgba(56, 55, 55, 0.1);
}

.offerTitle {
    background-color: #dddada;
    color: #383737;
    border-radius: 10px 10px 0px 0px;
    height: 85px;
    display: flex;
    margin-bottom: 60px;
}

.offerSection p {
    margin: 0;
    padding: 0;
    flex: 1;
    display: flex;
    padding: 25px;
}

.offerIcon {
    margin-left: 50px;
    margin-top: 20px;
    width: 247px;
    height: 247px;
    background-size: cover;
    background-position: center;
}

.offerText {
    padding: 20px;
    width: calc(100% - 650px - 250px);
}

.offerText h1 {
    padding-left: 50px;
    margin-top: -25px;
    font-family: 'Parisienne', cursive;
    font-size: 75px;
    letter-spacing: -1px;
}

.offerText p {
    padding-left: 50px;
    margin-top: -50px;
    font-weight: 200;
}

.offer h1 {
    font-size: 75px;
    letter-spacing: -1px;
    margin-left: 10px;
    margin-top: 0px;
}

.offer h2 {
    font-size: 34px;
    font-weight: 300;
    line-height: 30px;
    margin-left: 10px;
    margin-top: 13px;
    max-width: 306px;
}

.offer h3 {
    font-size: 70px;
    font-weight: 900;
    margin-left: 10px;
    margin-top: 0px;
}

.offerMain{
    padding-left: 20px;
    margin-top: -50px;
}

.offerMain p {
    font-size: 50px;
    font-weight: 600;
    padding-left: 50px;
    margin-top: -70px;
}

.offerMain ul {
    padding-left: 50px;
    margin-top: -20px;
    margin-bottom: 60px;
}


.offerPrice {
    position: fixed;
    background-color: #dddada;
    color: #383737;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    bottom: 20px;
    right: 20px;
    box-shadow: #222121 0px 0px 15px;
}

.offerPrice h1 {
    font-size: 50px;
    font-weight: 900;
    position: fixed;
    bottom: 70px;
    right: 70px;
    z-index: 2;
}

.offerPrice h2 {
    font-size: 70px;
    font-weight: 200;
    position: fixed;
    bottom: 10px;
    right: 125px;
    z-index: 2;
}

.offerPrice h3 {
    font-size: 60px;
    font-weight: 200;
    position: fixed;
    bottom: -10px;
    right: 60px;
    z-index: 2;
}

#birthdaysSection .offerPrice{
    bottom: 140px;
}

#birthdaysSection h1 {
    bottom: 190px;
    right: 50px;
}

#birthdaysSection h2 {
    bottom: 130px;
    right: 125px;
}

#birthdaysSection h3 {
    bottom: 103px;
    right: 55px;
}

#parentsSection .offerPrice{
    bottom: 80px;
}

#parentsSection h1 {
    bottom: 130px;
}

#parentsSection h2 {
    bottom: 70px;
}

#parentsSection h3 {
    bottom: 50px;
}

.smallPrice {
    font-weight: 600;
    font-size: 30px;
    margin-right: 300px;
}

.offerExtra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offerPriceExtra {
    position: fixed;
    color: #dddada;
    border: #dddada 8px solid;
    border-radius: 50%;
    background-color: #383737;
    width: 140px;
    height: 140px;
    z-index: 1;
    
}

.offerPriceExtra h1 {
    padding: 14px;
    font-size: 18px;
    font-weight: 600;
}

.offerPriceExtra b {
    position: fixed;
    font-size: 32px;
    font-weight: 900;
}

.e1 {
    position: fixed;
    bottom: 215px;
    right: 207px;
}

.e2 {
    position: fixed;
    bottom: 195px;
    right: 170px;
}

.e3 {
    position: fixed;
    font-size: 26px;
    font-weight: 900;
    bottom: 165px;
    right: 205px;
}

.offerInfo ul{
    color: #b4b41b;
    margin-left: 25px;
    margin-bottom: 40px;
    font-size: 22px;
}

.offerInfo b {
    font-weight: 700;
}

.offerInfo{
    margin-top: 100px;
}

.smallPriceInfo {
    font-weight: 700;
    font-size: 22px;
    margin-right: 240px;
}

.fe1 {
    position: fixed;
    bottom: 140px;
    right: 207px;
}
.fe2 {
    position: fixed;
    bottom: 120px;
    right: 203px;
}

.fe3 {
    position: fixed;
    font-size: 26px;
    font-weight: 900;
    bottom: 90px;
    right: 185px;
}

#parentsSection .offerPriceExtra {
    bottom: 45px;
    right: 150px;
}

#parentsSection .offerPriceExtra b {
    bottom: 130px;
    right: 190px;
}

#birthdaysSection .offerPriceExtra {
    bottom: 105px;
    right: 150px;
}

#birthdaysSection .offerPriceExtra b {
    bottom: 130px;
    right: 190px;
}

#openingHours {
    margin-left: 60px;
    margin-bottom: -35px;
    border-radius: 25px;
    background-color: #dddada;
    color: #383737;
    width: fit-content;
    box-shadow: #222121 0px 0px 15px;
}

#openingHours h1 {
    font-size: 70px;
    font-weight: 900;
    margin-right: 12px;
}

#openingHours h2 {
    font-size: 70px;
    font-weight: 200;
    margin-top: -20px;
    margin-left: 50px;
    padding-bottom: 20px;
}

.timeMinutes {
    position: relative;
    font-size: 40px;
    margin-left: 5px;
    bottom: 30px;
}

.offerText br {
    margin-top: 20px;
}

#offerContainer {
    margin-top: -120px;
}
